{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>{{ userProfile.username }}</h1>
    <div class="container-fluid">
        <span class="text-primary">Followers:</span>&nbsp;<span class="text-muted followers">{{ userProfile.followers.all.count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-primary">Follows:</span>&nbsp;<span class="text-muted">{{ userProfile.follows.all.count }}</span>
    </div>
    {% if user.username != userProfile.username %}
        {% if userProfile in user.follows.all %}
            <div class="container-fluid" style="margin-top: 0.25rem;"><button class="btn btn-primary follow" data-id="{{ userProfile.id }}">Unfollow</button></div>
        {% else %}
            <div class="container-fluid" style="margin-top: 0.25rem;"><button class="btn btn-primary follow" data-id="{{ userProfile.id }}">Follow</button></div>
        {% endif %}
    {% endif %}
    <hr>
    {% for post in page_obj %}
        <div class="post container-fluid">
            <h5>{{ post.user }}</h5>
            {% if user.username == userProfile.username %}
                <div class="text-primary edit" role="button" data-id="{{ post.id }}">Edit</div>
            {% endif %}
            <div class="content">{{ post.content }}</div>
            <form class="form d-none">
                <textarea id="post-content" placeholder="Post content..."></textarea>
                <button class="btn btn-primary">Save</button>
            </form>
            <div class="post-timestamp text-muted">{{ post.timestampOfPost }}</div>
            {% if user in post.like.all %}
                <div><i class="bi bi-heart-fill heart" data-id="{{ post.id }}"></i><span class="text-muted count" id="{{ post.id }}">{{ post.like.all.count }}</span></div>
            {% else %}
                <div><i class="bi bi-heart heart" data-id="{{ post.id }}" id="like"></i><span class="text-muted count" id="{{ post.id }}">{{ post.like.all.count }}</span></div>
            {% endif %}
        </div>
    {% endfor %}
    <nav aria-label="Page navigation example" id="pagination">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            <li class="page-item page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages  }}</li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}